
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'translate/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container boundary">
        <div><h1>English to French Translator</h1></div>
        <div class="well">
            <form class="form-inline" action="" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Enter text" name="string">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <div class="french boundary">
                <h3>"{{message}}"</h3>
            </div>
            <audio controls>
              <source src="{% static "translate/polly-boto.ogg" %}" type="audio/ogg">
              <source src="{% static "translate/polly-boto.mp3" %}" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>

        </div>
    </div>
</body>
</html>